.main_container{
  /* position: absolute; */
  box-sizing: border-box;
  margin-top:80px;
  height: 100%;
  display: flex;
  gap: 20px;
  color: #000;
  background-color: red;

}

.aside_design{
  max-width: 350px !important;
  box-sizing: border-box;
}

.post_design{
  flex-grow: 1;
}
